.server_status {
    svg {
        font-size: 12px;
        vertical-align: middle;
        margin-top: -2px;
    }

    .blink {
        animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
    }
}


@keyframes blinker {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}